.statistics{
 margin-top: 10px;
width: 550px;
margin-left: auto;
margin-right: auto;
text-align: center;
background-color: rgb(227, 227, 246);
display: grid;
align-items: flex-end;
}

.title{
color: black;
}

.stat_list{
display: flex;
justify-content: space-between;
}

.item{
width: 100%;
padding: 25px 0;
background-color: rgb(110, 202, 29);
}

.label{
display: block;
color: white;
margin-bottom: 10px;
}

.percentage{
display: block;
color: white;
font-weight: bold;
}