.item{
 display: flex;
 align-items: center;
 box-shadow: 4px 5px 9px 0px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: 4px 5px 9px 0px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 4px 5px 9px 0px rgba(0, 0, 0, 0.86);
  
   padding: 10px;
}

.status{
 display: block;
 width: 15px;
 height: 15px;
 border-radius: 50%;
}

.avatar{
 margin: 0 15px;
}